a:hover{
  color: #0eacf3;
}
.section-title:before{
  background-color: #0eacf3;
}
.section-sub:before{
  background-color: #0eacf3;
}
.slicknav_menu .slicknav_icon-bar{
  background: #0eacf3;
}
.slicknav_btn{
  border-color: #0eacf3;
}
.slicknav_nav a:hover, .slicknav_nav .active{
  color: #0eacf3;
}
.slicknav_nav .dropdown li a.active{
  color: #0eacf3;
}
.navbar li.active a.nav-link{
  color: #fff!important;
  background: #0eacf3;
}
.navbar-expand-lg .navbar-nav li a:hover, .navbar-expand-lg .navbar-nav li .active>a, .navbar-expand-lg .navbar-nav li a:focus{
  color: #0eacf3;
}
.dropdown .dropdown-item:focus, .dropdown .dropdown-item:hover, .dropdown .dropdown-item.active{
  color: #0eacf3;
}
#hero-area .contents span.year{
  color: #0eacf3;
}
.btn-common{
    background-color: #0eacf3;
}
.btn-common:hover{
  color: #fff;
  background-color: #3bb8f1;
}
.btn-border:hover{
  background-color: #0eacf3;
}
.time-entry{
  background: #0eacf3;
}
.team-item .overlay-social-icon .social-icons li a i{
  background: #0eacf3;
}
.team-item .info-text h3 a:hover{
  color: #0eacf3;
}
.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link, 
.schedule .schedule-tab-title .nav-tabs .nav-link.active, 
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover{
  background: #0eacf3;
  border-color: #0eacf3;
}
.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link, 
.schedule .schedule-tab-title .nav-tabs .nav-link.active, 
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover{
  background: #0eacf3;
  border: #0eacf3 transparent transparent transparent
}
.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link:before, 
.schedule .schedule-tab-title .nav-tabs .nav-link.active:before, 
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover:before{
  border-color: #0eacf3 transparent transparent transparent
}
.schedule .tab-content .table>tbody .speakers .speaker h5 a:hover{
  color: #0eacf3;
}

.services-item .services-content h3 a{
  color: #0eacf3;
}
.services-item .icon i{
  border-color: #0eacf3;
  background: #0eacf3;
}
.services-item:hover .icon i{
  color: #0eacf3;
}
.counter-section .counter .icon i{
  color: #0eacf3;
}
.icon-close, .icon-check{
  color: #0eacf3;
}
#gallery-section .gallery-box .overlay-box i{
  background: #0eacf3;
}
.blog-item .date .day{
  color: #0eacf3;
}
.blog-item .descr h3 a:hover{
  color: #0eacf3;
}
.post-thumb .date .day{
  color: #0eacf3;
}
blockquote{
  background: #0eacf3;
}
.post-content .post-title a:hover{
  color: #0eacf3;
}
.post-meta a:hover{
  color: #0eacf3;
}
.tags-area .post-tags a:hover{
  background: #0eacf3;
}
.reply-link{
  color: #0eacf3;
}
#sidebar .cat-list li a:hover{
  color: #0eacf3;
}
#sidebar .tag a{
  background: #0eacf3;
}
.slide-item .inner-box h3 a:hover{
  color: #0eacf3;
}
.subscribe-inner .form-control:focus{
  border-color: #0eacf3;
}
.contact-map .form-control:focus{
  border-color: #0eacf3;
}
.form-control:focus{
  border-color: #0eacf3;
}
.contact-item .contact-info h3{
  color: #0eacf3;
}
.footer-area .footer-text p a{
  color: #0eacf3;
}
.footer-area .footer-text .nav-inline .nav-link:hover{
  color: #0eacf3;
}
.footer-2 ul li a:hover{
  color: #0eacf3;
}
#copyright p a:hover{
  color: #0eacf3;
}
a.back-to-top i{
  background: #0eacf3;
}
.settings{
  color: #0eacf3;
}
.pagination .page-item .page-link{
  color: #0eacf3;
}
.pagination .page-item .page-link:hover{
  background: #0eacf3;
}








